<ion-view title="Accord">
    <ion-content padding="'true'">
        <form class="list">
            <img src="img/Xt9jVHBhSci9PHyqEdq3_accord.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
            <ion-list>
                <label class="item item-input" name="user id">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="user password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/tabs/casefile" class="button button-positive button-block  icon-right ion-android-contact">Login</a>
        </form>
    </ion-content>
</ion-view>