<ion-view title="File Details">
    <ion-content padding="'true'" class="has-header">
        <div class="bar bar-header">
          <h1 class="title">File Details</h1>
        </div>
        <ion-list>
  			<ion-item><h3>File Referance No:</h3></ion-item><br>
  			<ion-item><h3>Category:</h3></ion-item><br>
  			<ion-item><h3>Sub-Category:</h3></ion-item><br>
  			<ion-item><h3>File Open Date:</h3></ion-item><br>
  			<ion-item><h3>File Status:</h3></ion-item><br>
  			<ion-item><h3>Primary Consultant:</h3></ion-item><br>
  			<ion-item><h3>Case Status:</h3></ion-item><br>
  			<ion-item><h3>Consultant Name:</h3></ion-item><br>
  			<ion-item><h3>Mobile No:{{123456789}}</h3></ion-item>
  			<ion-nav-back-button class="button-positive">
  			    <i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
</ion-list>
    </ion-content>
</ion-view>