<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="File" icon="ion-filing" href="#/tabs/casefile">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Hearing" icon="ion-mic-c" href="#/tabs/hearing">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Meeting" icon="ion-person-stalker" href="#/tabs/meeting">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Billing" icon="ion-cash" href="#/tabs/billing">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>